<div>
    <ul class="list-inline">
        <li>
            <a title="twitter-square" herf="#">
                <i class="fa fa-twitter-square fa-2x"></i>
            </a>
        </li>
        <!-- Replace href with your Meta and URL information  -->
        <!--<a title="twitter-squar" href="https://twitter.com/intent/tweet">
        <i class= class="fa-li fa-twitter-square"></i>
        </a>-->
        <li>
            <a title="facebook-square" herf="#">
                <i class="fa fa-facebook-square fa-2x"></i>
            </a>
        </li>

        <li>
            <a title="linkedin-square" herf="#">
                <i class="fa fa-linkedin-square fa-2x"></i>
            </a>
        </li>

        <li>
            <a title="reddit-square" herf="#">
                <i class="fa fa-reddit-square fa-2x"></i>
            </a>
        </li>

        <li>
            <a title="hacker-news" herf="#">
                <i class="fa fa-hacker-news fa-2x"></i>
            </a>
        </li>

        <li>
            <a title="google-plus-square" herf="#">
                <i class="fa fa-google-plus-square fa-2x"></i>
            </a>
        </li>

        <li>
            <a title="get-pocket" herf="#">
                <i class="fa fa-get-pocket fa-2x"></i>
            </a>
        </li>
    </ul>
</div>